@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,900;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Poppins', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* customize color */

  --clr-background: #191627;
  --clr-button-lite-color: #6666cc;
  --clr-button-color: #4e3bb0;
  --clr-button-alt-color: #6e57e0;
  --clr-text-color: #fff;
  --clr-text-light-color: #bcbac4;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-footer-background: #100e1b;
}

.light-theme {
  --clr-background: #ffffff;
  --clr-button-lite-color: #6666cc;
  --clr-button-color: #4e3bb0;
  --clr-button-alt-color: #6e57e0;
  --clr-text-color: #242329;
  --clr-text-light-color: #6d6a7c;
  --clr-footer-background: #6e57e0;
}

.dark-theme {
  --clr-background: #191627;
  --clr-button-lite-color: #6666cc;
  --clr-button-color: #4e3bb0;
  --clr-button-alt-color: #6e57e0;
  --clr-text-color: #fff;
  --clr-text-light-color: #bcbac4;
  --clr-footer-background: #100e1b;
}
/*
=============== 
Global Styles
===============
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-background);
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-name {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-text-color);
}

.title-subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem auto 0rem auto;
  color: var(--clr-text-light-color);
}
